<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniWear</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> navbar }}
    {{{body}}}
    <script src="/js/products.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/main.js"></script>
    {{> footer }}
</body>
</html>
